{% extends "layout.html" %}

{% block title %}Encrypt{% endblock %}

{% block content %}
<h2>Encrypt Your Image Here!!!</h2>
<form id="encrypt-form" action="/encrypt" method="post" enctype="multipart/form-data">
    <div class="drag-drop-container">
        <div class="drop-zone" id="input_image_drop">
            <span class="drop-zone__prompt">Drop Image You Want To Encrypt Here!</span>
            <input type="file" id="input_image" name="input_image" class="drop-zone__input" required>
        </div>
        <div class="drop-zone" id="cover_image_drop">
            <span class="drop-zone__prompt">Drop Cover Image Here!</span>
            <input type="file" id="cover_image" name="cover_image" class="drop-zone__input" required>
        </div>
    </div>
    <button type="submit">Encrypt</button>
</form>
{% endblock %}
