{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Definition</h2>
<div class="about rc5">
    <p>
        RC5 is a symmetric key block encryption algorithm designed by Ronald Rivest in 1994.
    </p>
</div>
<div class="about sha3">
    <p>
        SHA3 is a cryptographic hash function designed by Guido Bertoni, Joan Daemen, Michaël Peeters, and Gilles Van Assche, and was selected as the winner of the NIST hash function competition in 2012.
    </p>
</div>
<div class="about lsb">
    <p>
        LSB (Least Significant Bit) is a simple, yet effective technique for embedding information in images by modifying the least significant bits of the pixel values.
    </p>
</div>
{% endblock %}
